<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>403 - Truy cập bị từ chối</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">
</head>
<body class="bg-light text-center d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
<img src="https://cdn-icons-png.flaticon.com/512/1828/1828843.png" width="120" alt="403 Icon">
<h1 class="display-4 text-warning mt-3">403</h1>
<p class="lead text-muted">Bạn không có quyền truy cập vào nội dung này 🔒</p>
<a th:href="@{/}" class="btn btn-outline-secondary mt-3">🔙 Trở về</a>
</body>
</html>
