.grip {
    width: 20px;
    height: 15px;
    margin-top: -3px;
    background-image: url('../images/grip.png');
    margin-left: -5px;
    position: relative;
    z-index: 88;
    cursor: e-resize;
}

.grip:hover {
    background-position-x: -20px;
}

.JCLRLastGrip .grip {
    background-position-y: -18px;
    left: -2px;
}

.dragging .grip {
    background-position-x: -40px;
}